.main-about {
  padding: 2rem 0;
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
  font-family: 'Fuzzy Bubbles', cursive;
  width: 80%;

  .section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
    font-weight: bold;
  }
}
